@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

@supports (display: grid) {
    #students {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 6rem;
        text-align: center;
    }
}

h1 {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 50px;
    font-family: "Poppins";
}

/* TEMPLATE */
.studentName {
    font-family: "Poppins";
    font-size: 16px;
    color: black;
}

.houseName {
    font-family: "Courier";
    font-size: 12px;
    color: black;
}

article {
    border: 1px solid burlywood;
    padding: 40px 0;
}

/* BUTTON */
button {
    border: 1px solid darkolivegreen;
    padding: 10px 40px;
    cursor: pointer;
    font-family: "Poppins";
    font-size: 10px;
}

button:hover {
    background-color: darkolivegreen;
    color: white;
}

/* MODAL */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}